%h2
  Hotels.com - <span>wake up happy<span>
%p
  With over <b>140,000 hotels</b> worldwide, <b>priced matched guaranteed</b> and <b>1.2 million</b> reviews, why look elsewhere for your next hotel booking.
.strapline Top Destinations
- @destinations.each do |country, value|
  - value.each do |city, hotels|
    .accordion
      %div
        %h4 #{city}, #{hotels.first.state}, #{country}
        %p Over #{hotels.count} hotels
      .accordion-content
        - hotels.each do |hotel|
          %p
            =hotel.name

            %span.current-price &pound;#{hotel.current_price}    
            - if hotel.previous_price
              %span.prev-price &pound;#{hotel.previous_price}
            %span.text From       
            %span.rating
              =hotel.rating

        %p See all 898 hotels in London

%a{href: "/"}See all our destinations
